
RewriteEngine on
Options All -Indexes

# Canonical host: force apex traffic onto www to avoid split caches/behavior.
RewriteCond %{HTTP_HOST} ^saski\.com$ [NC]
RewriteRule ^(.*)$ https://www.saski.com/$1 [R=301,L]



# BEGIN WordPress

# END WordPress

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^wp\/?$ "http\:\/\/nacho\.saski\.com\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^wp\/feed\/?$ "http\:\/\/nacho\.saski\.com\/feed\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^elenagrimaldi\.es$ [OR]
RewriteCond %{HTTP_HOST} ^www\.elenagrimaldi\.es$
RewriteRule ^/?$ "http\:\/\/www\.elenagrimaldiphoto\.com\/" [R=301,L]

